@import "./../../style/vars";


.MuiPagination-ul {
	li {
		a {
			color: $permanent-font-color;
			font-size: 1.4rem;
			font-weight: 500;
			transition: 0.3s;
			&:hover {
				background-color: $secondary-bg-color;
			}
			@media (max-width: 725px) {
				font-size: 1.2em;
				min-width: 3rem;
				height: 3.6rem;
			}
			@media (max-width: 360px) {
				font-size: 1rem;
				min-width: 2.6rem;
				height: 2.8rem;
				margin: 2px;
				padding: 0 3px;
			}
		}
	}
}
.MuiPagination-ul {
	li {
		a.Mui-selected {
			color: $permanent-font-color;
			background-color: transparent;
			border: 1px solid $accent-bg-color;
			font-size: 2rem;
			font-weight: 600;
			&:hover {
				background-color: transparent;
			}
			@media (max-width: 725px) {
				font-size: 1.6em;
				min-width: 3rem;
				height: 3.6rem;
			}
			@media (max-width: 360px) {
				font-size: 1.2em;
				min-width: 2.2rem;
				height: 2.8rem;
			}
		}
	}
}
.css-1scal0h-MuiPaginationItem-root {
	min-width: 0;
	margin: 0;
	padding: 0;
}
