@import "./../../style/vars";
:root {
	.css-s1jfdj-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
		color: $permanent-font-color;
		background-color: transparent;
		border: 1px solid $accent-bg-color;
		font-size: 2rem;
		font-weight: 600;
		&:hover {
			background-color: transparent;
		}
	}
	.css-s1jfdj-MuiButtonBase-root-MuiPaginationItem-root {
		color: $permanent-font-color;
		font-size: 1.4rem;
		font-weight: 500;
		transition: .3s;
		&:hover {
			background-color: $secondary-bg-color;
		}
	}
}
