@import './../../style/vars';

.wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $permanent-bg-color;
	display: flex;
	justify-content: center;
	padding-top: 6%;
}