@import "./../../style/vars";

.wrapper {
	display: grid;
	grid-template: 22rem min-content max-content / 1fr;
	@media (max-width: 462px){
		grid-template: min-content min-content max-content / 1fr;

	}
}
.border {
	border: 1px solid $permanent-bg-color;
	padding: 0.7rem;
	border-radius: 4px;
	box-shadow: 0.2rem .3rem .7rem #6d6c6c11;
}
.poster {
	overflow: hidden;
	border: 1px solid $permanent-bg-color;
	cursor: pointer;
	margin: 0 auto 1.5rem;
	img {
		height: 100%;
		transition: 0.3s;
		object-fit: contain;
		object-position: top left;
		&:hover {
			transform: scale(1.07);
		}
	}
	@media (max-width: 462px){
		border: none;
	}
}
.title {
	font-size: 1.8rem;
	margin-bottom: 0.1em;
	@media (max-width: 462px){
		display: none;
	}
}
.year {
	align-self: end;
	font-size: 1.4rem;
	opacity: 0.8;
	@media (max-width: 462px){
		display: none;
	}
}
