@import "./../../style/vars";

.info {
	font-size: 2rem;
	color: $secondary-font-color;
	span {
		color: $permanent-font-color;
	}
	p:not(:last-child) {
		margin-bottom: 0.2em;
	}
	@media (max-width: 1024px) {
		font-size: 1.7rem;
	}
	@media (max-width: 462px) {
		font-size: 1.4rem;
	}
}