//colors

$permanent-bg-color: #282c34;
$secondary-bg-color: #21252b;
$accent-bg-color: #dfba18;
$light-bg-color: #fafafa;

$permanent-font-color: #fafafa;
$secondary-font-color: #dfba18;

//container

$container-width: 123rem;
