@import "./style/reset.scss";
@import "./style/vars";

html {
	font-size: 62.5%;
}
body {
	font-family: "Frank Ruhl Libre", serif;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 1.5rem;
}
